html{
	-webkit-text-size-adjust:100%;
	padding-bottom:4em
}
body{
	font-family:sans-serif;
	line-height:1.5em;
	max-width:40em;
	padding:0 2%;
	margin:auto
}
fieldset{
	margin-bottom:1.5em
}
textarea{
	height:10em
}
dt{
	font-weight:bold
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: .5em;
}
ol { 
	padding-left: 1.3em; 
}
a {
    text-decoration: none;
    color: #999;
}
img#foto {
    float: left;
    margin: 1em 1em 1em 1em;
}
img#banner {
    margin: 1.5em auto 1em auto;
    max-width: 100%;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    text-align: justify;
    color: #333;
}
footer {
    border-top: .1em solid #d5d5d5;
}