<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta name="Description" content="Gonzalo Mateo-Garcia personal web page.">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="icon" type="image/png" sizes="192x192"  href="/icons/android-icon-192x192.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/index.html">Home</a></li>
		        	<li><a href="https://www.linkedin.com/in/gonzalo-mateo-garc%C3%ADa-b7584a33/" target="_blank">LinkedIn</a></li>
	        		<li><a href="https://docs.google.com/document/d/1qwou0qWo5wE6klOWNpziDhQoxBi_PMxqzSNMK0rNRjM/edit?usp=sharing" target="_blank">CV</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="/talks">Talks</a></li>
							<li><a href="https://github.com/gonzmg88" target="_blank">GitHub</a></li>
	    		</ul>
			</nav>
			<div>

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:gonzalo.mateo-garcia@uv.es">gonzalo.mateo-garcia@uv.es</a></li>
	        		<li><a href="mailto:gonzmg88@gmail.com">gonzmg88@gmail.com</a></li>
	        		<li><a href="https://github.com/gonzmg88" target="_blank">github.com/gonzmg88</a></li>
				</ul>
			</footer>
		</body>
	</html>
